@import "../../dist/flipswitch.css";

body {
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
}

.element {
    margin: 0;
    list-style-type: none;
    padding: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;

    &.header {
        #one {
            fill: #ffffff;
        }

        #two {
            fill: #ffffff;
        }

        #three {
            fill: #ffffff;
        }

        #four {
            fill: #ffffff;
        }

        #five {
            fill: #ffffff;
        }
    }

    &.section_1 {
        #one {
            fill: #1c2321;
        }

        #two {
            fill: #1c2321;
        }

        #three {
            fill: #1c2321;
        }

        #four {
            fill: #1c2321;
        }

        #five {
            fill: #1c2321;
        }
    }

    &.section_3 {
        #one {
            fill: #6F7F88;
        }

        #two {
            fill: #6F7F88;
        }

        #three {
            fill: #6F7F88;
        }

        #four {
            fill: #6F7F88;
        }

        #five {
            fill: #B2BFC2;
        }
    }

    &.footer {
        #one {
            fill: #B2BFC2;
        }

        #two {
            fill: #B2BFC2;
        }

        #three {
            fill: #B2BFC2;
        }

        #four {
            fill: #B2BFC2;
        }

        #five {
            fill: #6F7F88;
        }
    }
}

.section {
    height: 100vh;
    display: block;

    &--1 {
        background-color: #6F7F88;
    }

    &--2 {
        background-color: #909DA0;
    }

    &--3 {
        background-color: #B2BFC2;
    }

    &--4 {
        background-color: #EFF1EF;
    }

    &--5 {
        background-color: #1C2321;
    }
}
